<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../../elice-rabbit-favicon.png" />
    <!-- bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="order-complete.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="order-complete.js" type="module" defer></script>
  </head>
  <body>
    <div id="container">
      <span id="modal-title">주문이 완료되었습니다!</span>
      <div id="modal-buttons-wrap">
        <a href="/shop"> <button id="move-shop-button" class="button is-medium">쇼핑계속하기</button></a>
        <a href="/mypage"> <button id="move-mypage-button" class="button is-medium is-black">주문내역보기</button></a>
      </div>
    </div>
    <footer class="footer"></footer>
  </body>
</html>
