<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>My Page</title>
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="mypage.css" />
  <script src="mypage.js" type="module" defer></script>
</head>

<body>
  <!-- 헤더 -->
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
  </nav>

  <main class="main-wrapper" aria-label="main contents">
    <div class="order-list-form-container ">
      <span class="container-title">주문 내역</span>
      <ul>
        <li>
          <div class="box order-list has-background-light">
            <div class="order-list-wrapper">
              <div class="order-list-image">
                <img src="https://picsum.photos/50/50" alt="상품 이미지" />
              </div>
              <div class="order-list-content">
                <dl class="content-list">
                  <div class="content-wrapper">
                    <dt class="content-title">
                      <strong>주문 번호</strong>
                    </dt>
                    <dd class="content-content">
                      12345
                    </dd>
                  </div>
                  <div class="content-wrapper">
                    <dt class="content-title">
                      <strong>상품 명</strong>
                    </dt>
                    <dd class="content-content">
                      안녕
                    </dd>
                  </div>
                  <div class="content-wrapper">
                    <dt class="content-title">
                      <strong>수량</strong>
                    </dt>
                    <dd class="content-content">
                      1
                    </dd>
                  </div>
                  <div class="content-wrapper">
                    <dt class="content-title">
                      <strong>금액</strong>
                    </dt>
                    <dd class="content-content">
                      1,000
                    </dd>
                  </div>
                  <div class="content-wrapper">
                    <dt class="content-title">
                      <strong>날짜</strong>
                    </dt>
                    <dd class="content-content">
                      2022.05.01
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="box order-list has-background-light">
            <div class="order-list-wrapper">
              <div class="order-list-image">
                <img src="https://picsum.photos/id/3/50/50" alt="상품 이미지" />
              </div>
              <div class="order-list-content">
                <dl class="content-list">
                  <div class="content-wrapper">
                    <dt class="content-title">
                      <strong>주문 번호</strong>
                    </dt>
                    <dd class="content-content">
                      67890
                    </dd>
                  </div>
                  <div class="content-wrapper">
                    <dt class="content-title">
                      <strong>상품 명</strong>
                    </dt>
                    <dd class="content-content">
                      바이
                    </dd>
                  </div>
                  <div class="content-wrapper">
                    <dt class="content-title">
                      <strong>수량</strong>
                    </dt>
                    <dd class="content-content">
                      2
                    </dd>
                  </div>
                  <div class="content-wrapper">
                    <dt class="content-title">
                      <strong>금액</strong>
                    </dt>
                    <dd class="content-content">
                      200,000
                    </dd>
                  </div>
                  <div class="content-wrapper">
                    <dt class="content-title">
                      <strong>날짜</strong>
                    </dt>
                    <dd class="content-content">
                      2022.05.25
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
    <div class="register-user-form-container">
      <span span class="container-title">회원 정보</span>
      <form class="box register-user-form-box has-background-light" id="modifyUserForm">
        <div class="field">
          <label class="label" for="fullNameInput">이름</label>
          <div class="control">
            <input class="input" id="fullNameInput" type="text" placeholder="홍길동" autocomplete="on" />
          </div>
        </div>

        <div class="field">
          <label class="label" for="emailInput">이메일</label>
          <div class="control">
            <input class="input" id="emailInput" type="email" placeholder="abc@example.com" autocomplete="on" />
          </div>
        </div>

        <div class="field">
          <label class="label" for="phoneNumber">휴대폰번호</label>
          <div class="control">
            <input class="input" id="phoneNumber" type="tel" autocomplete="off" maxlength="3" />
            <input class="input" id="phoneNumber" type="tel" autocomplete="off" maxlength="4" />
            <input class="input" id="phoneNumber" type="tel" autocomplete="off" maxlength="4" />
          </div>
        </div>

        <div class="field">
          <label class="label" for="address-search">우편번호</label>
          <div class="control">
            <input class="input" id="address-search" type="text" autocomplete="off" readonly />
            <button class="button is-midium">검색하기</button>
          </div>
        </div>

        <div class="field">
          <label class="label" for="address">주소</label>
          <div class="control">
            <input class="input mb-3" id="address" type="text" autocomplete="off" readonly />
            <input class="input" id="address" type="text" autocomplete="off" readonly />
          </div>
        </div>

        <div class="btn-wrapper">
          <button class="button is-danger is-midium mb-3">
            탈퇴하기
          </button>
          <button class="button is-black is-midium mb-3" id="submitButton">
            변경 사항 저장하기
          </button>
        </div>
      </form>
    </div>
  </main>

  <footer class="footer">
  </footer>

</body>

</html>