.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 120vh;
  width: 85vw;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.order-list-form-container {
  width: 40%;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container-title {
  font-size: 1.4rem;
}

.order-list-wrapper {
  display: flex;
  flex-direction: row;
}

.order-list-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.box {
  margin-top: 1.5rem;
}

.help {
  display: none;
}

.order-list-image {
  width: 20%;
}

.content-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.content-title {
  font-size: 1rem;
}

.content-content {
  font-size: 0.9rem;
}


.order-list-image img {
  border-radius: 20px;
}

.register-user-form-container {
  width: 45%;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.password-wrap {
  display: flex;
  flex-direction: row;
}

.password-wrap button {
  margin-left: 1rem;
}

.phone-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.phone-wrap span {
  display: inline-block;
  margin: 0 0.8rem;
}

.addr-wrap {
  display: flex;
}

.addr-wrap button {
  margin-left: 1rem;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.toggle-switch input[type=checkbox] {
  display: none;
}

.toggle-track {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 25px;
  border-radius: 60px;
  background: #8b8b8b;
}

.toggle-track:before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  left: -15px;
  width: 30px;
  height: 30px;
  margin: 5px;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #8b8b8b;
  transition: left 0.3s;
}

.toggle-switch input[type=checkbox]+label .toggle-track:after {
  content: '수정';
  display: inline-block;
  position: absolute;
  right: 8px;
  color: #fff;
}

.toggle-switch input[type=checkbox]:checked+label .toggle-track {
  background: #e51836;
}

.toggle-switch input[type=checkbox]:checked+label .toggle-track:before {
  left: 30px;
  border: 1px solid #e51737;
}

.toggle-switch input[type=checkbox]:checked+label .toggle-track:after {
  content: '종료';
  left: 5px;
}