.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 120vh;
  width: 85vw;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.order-list-form-container {
  width: 40%;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container-title {
  font-size: 1.4rem;
}

.order-list-wrapper {
  display: flex;
  flex-direction: row;
}

.order-list-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.box {
  margin-top: 1.5rem;
}

.help {
  display: none;
}

.order-list-image {
  width: 20%;
}

.content-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.content-title {
  font-size: 1rem;
}

.content-content {
  font-size: 0.9rem;
}


.order-list-image img {
  border-radius: 20px;
}

.register-user-form-container {
  width: 45%;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.password-wrap {
  display: flex;
  flex-direction: row;
}

.password-wrap button {
  margin-left: 1rem;
}

.phone-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.phone-wrap span {
  display: inline-block;
  margin: 0 0.8rem;
}

.addr-wrap {
  display: flex;
}

.addr-wrap button {
  margin-left: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}