<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>My Page</title>
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="mypage.css" />
  <script src="mypage.js" type="module" defer></script>
  <!-- 다음 API js -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body>
  <!-- 헤더 -->
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
  </nav>

  <main class="main-wrapper" aria-label="main contents">
    <div class="order-list-form-container ">
      <div class="title-wrapper">
        <span class="container-title">주문 내역</span>
        <a class="list-link-order" href="/order"><span>상세 주문 </span></a>
      </div>

      <ul>

        <li>
          <div class="box order-list has-background-light">
            <div class="order-list-wrapper">
              <div class="order-list-image">
                <img src="https://picsum.photos/id/3/50/50" alt="상품 이미지" />
              </div>
              <div class="order-list-content">
                <dl class="content-list">
                  <div class="content-wrapper">
                    <dt class="content-title">
                      <strong>주문 번호</strong>
                    </dt>
                    <dd class="content-content">
                      67890
                    </dd>
                  </div>
                  <div class="content-wrapper">
                    <dt class="content-title">
                      <strong>상품 명</strong>
                    </dt>
                    <dd class="content-content">
                      바이
                    </dd>
                  </div>
                  <div class="content-wrapper">
                    <dt class="content-title">
                      <strong>수량</strong>
                    </dt>
                    <dd class="content-content">
                      2
                    </dd>
                  </div>
                  <div class="content-wrapper">
                    <dt class="content-title">
                      <strong>금액</strong>
                    </dt>
                    <dd class="content-content">
                      200,000
                    </dd>
                  </div>
                  <div class="content-wrapper">
                    <dt class="content-title">
                      <strong>날짜</strong>
                    </dt>
                    <dd class="content-content">
                      2022.05.25
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
    <div class="register-user-form-container">
      <span span class="container-title">회원 정보</span>
      <form class="box register-user-form-box has-background-light" id="modifyUserForm">
        <label for="fullNameInput">이름</label>
        <div class="control">
          <input class="input is-medium name-input" id="fullNameInput" type="text" placeholder="이름을 입력해주세요."
            autocomplete="off" />
          <div id="name-msg" class="help is-danger" style="display: none;">
            <span></span>
          </div>
        </div>

        <div class="field">
          <label for="emailInput">이메일</label>
          <div class="control">
            <input class="input is-medium email-input" id="emailInput" type="email" autocomplete="off" readonly />
          </div>
        </div>

        <div class="field">
          <label class="passwordInput" for="passwordInput">비밀번호</label>
          <div class="control">
            <input class="input is-medium passwd" id="passwordInput" type="password" placeholder="현재 비밀번호를 입력해주세요." />
            <div id="password-msg" class="help is-danger" style="display: none;">
              <span></span>
            </div>
          </div>

        </div>

        <div class="field">
          <label class="passwordInput" for="passwordInput">비밀번호 확인</label>
          <div class="control">
            <input class="input is-medium passwd-check" id="passwordInputCheck" type="password"
              placeholder="현재 비밀번호를 확인해주세요." />
            <div id="password-check-msg" class="help is-danger" style="display: none;">
              <span></span>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="passwordInput" for="passwordInput">비밀번호 변경</label>
          <div class="password-wrap control">
            <input class="input is-medium passwd mb-3" id="passwordModify" type="password"
              placeholder="비밀번호 변경 버튼을 누르세요." readonly />
            <div class="toggle-container">
              <div class="toggle-switch">
                <input type="checkbox" class="check-toggle">
                <label for="chkTog">
                  <span class="toggle-track"></span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <label for="phoneInput">연락처</label>
          <div class="phone-wrap control">
            <input id="phoneInput" class="input is-medium phone number-1" type="tel" maxlength="3" />
            <span>-</span>
            <input class="input is-medium phone number-2" type="tel" maxlength="4" />
            <span>-</span>
            <input class="input is-medium phone number-3" type="tel" maxlength="4" />
          </div>
          <div id="phone-msg" class="help is-danger" style="display: none;">
            <span></span>
          </div>
        </div>

        <div class="field">
          <label class="label-input" for="address-search">우편번호</label>
          <div class="addr-wrap control">
            <input class="input is-medium address-code" id="address-search" type="text" autocomplete="off" readonly />
            <button id="kakao_address" class="button is-medium is-responsive">주소찾기</button>
          </div>
        </div>

        <div class="field">
          <label class="label-input" for="address">주소</label>
          <div class="control">
            <input class="input is-medium mb-3 address" type="text" autocomplete="off" readonly />
          </div>
        </div>

        <div class="field">
          <label class="label-input" for="addressDetail">상세 주소</label>
          <div class="control">
            <input class="input is-medium address-detail" id="addressDetail" type="text" placeholder="상세 주소를 입력해주세요."
              autocomplete="off" />
          </div>
        </div>

        <div class="btn-wrapper">
          <button class="button is-danger is-midium mt-3 mb-3 btn-withdraw">
            탈퇴하기
          </button>
          <button class="button is-black is-midium mt-3 mb-3 btn-modify" type="submit" id="submitButton">
            변경 사항 저장하기
          </button>
        </div>
      </form>
    </div>
  </main>

  <footer class="footer">
  </footer>

</body>

</html>