<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>결제페이지</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../elice-rabbit-favicon.png" />
    <!-- bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="order-direct.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="order-direct.js" type="module" defer></script>
  </head>
  <body>
    <div id="container">
      <header>
        <a class="navbar-item" href="/">
          <img src="../../elice-rabbit.png" width="30" height="30" />
          <span class="has-text-link">team10</span>
        </a>
      </header>

      <div class="section">
        <div class="title">주문상품</div>
        <div id="products-container">
          <!-- 주문할 상품들이 들어가요 -->
        </div>
      </div>

      <div class="section">
        <div class="total-cost-wrap">
          <span class="title cost">상품 합계</span>
          <span id="total-cost">
            <!-- 총 결제 금액이 들어가요 -->
          </span>
        </div>
      </div>

      <div class="section">
        <div class="title">배송지 정보</div>
        <div id="select-address-wrap">
          <span id="default-address-wrap">
            <input type="radio" id="default-address" name="select-address" />
            <label for="default-address"> 기본 배송지 </label>
          </span>
          <span id="new-address-wrap">
            <input type="radio" id="new-address" name="select-address" />
            <label for="new-address"> 신규 입력</label>
          </span>
        </div>
        <div class="user-info-wrap">
          <div class="form-group">
            <label for="name">이름</label>
            <div class="input-wrap">
              <input id="name" class="input is-medium" type="text" placeholder="이름을 입력해주세요." />
              <div id="name-msg" class="help is-danger hide">
                <span>이름을 입력해주세요.</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="postal-code">우편번호</label>
            <div id="postal-code-wrap" class="input-wrap">
              <input id="postal-code" class="input is-medium" type="text" placeholder="" disabled />
              <button id="kakao_address" class="button is-medium is-responsive">주소찾기</button>
            </div>
            <div id="postal-code-msg" class="help is-danger hide">
              <span>우편번호가 올바르지 않습니다.</span>
            </div>
          </div>

          <div class="form-group">
            <label for="address">주소</label>
            <div id="address-input-wrap" class="input-wrap">
              <input id="address1" class="input is-medium" type="text" placeholder="" disabled />
              <input id="address2" class="input is-medium" type="text" placeholder="상세 주소를 입력해주세요" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="phone">연락처</label>
          <div id="phone-input-wrap" class="input-wrap">
            <input id="phone1" class="input is-medium phone" type="tel" maxlength="3" />
            <span>-</span>
            <input id="phone2" class="input is-medium phone" type="tel" maxlength="4" />
            <span>-</span>
            <input id="phone3" class="input is-medium phone" type="tel" maxlength="4" />
          </div>
          <div id="phone-msg" class="help is-danger hide">
            <span>연락처를 입력해주세요.</span>
          </div>
        </div>
        <div id="set-default-address-wrap">
          <input type="checkbox" id="set-default-address" />
          <label for="set-default-address"> 기본 배송지 설정</label>
        </div>
      </div>

      <div id="bottom">
        <a href="/order/complete" id="move-page">
          <button id="pay-button" class="button is-large">
            <!-- '총 결제 금액'원 결제하기 -->
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
