<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>쇼핑-데모</title>
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- bulma css 관련 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 구글 OAuth -->
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <!-- 카카오 OAuth -->
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="register.css" />
  <script src="register.js" type="module" defer></script>
</head>

<body>
  <!-- 헤더 -->
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
  </nav>

  <!-- 회원가입 폼(Form) -->
  <div class="register-user-form-container">
    <form class="box register-user-form-box has-background-light" id="registerUserForm">
      <div class="field">
        <label class="label" for="fullNameInput">이름</label>
        <div class="control">
          <input class="input" id="fullNameInput" type="text" placeholder="홍길동" autocomplete="on" />
        </div>
      </div>

      <div class="field">
        <label class="label" for="emailInput">이메일</label>
        <div class="control">
          <input class="input" id="emailInput" type="email" placeholder="abc@example.com" autocomplete="on" />
        </div>
      </div>

      <div class="field">
        <label class="label" for="passwordInput">비밀번호</label>
        <div class="control">
          <input class="input" id="passwordInput" type="password" placeholder="********" autocomplete="off" />
        </div>
      </div>

      <div class="field mb-5">
        <label class="label" for="passwordConfirmInput">비밀번호 확인</label>
        <div class="control">
          <input class="input" id="passwordConfirmInput" type="password" placeholder="********" autocomplete="off" />
        </div>
      </div>
      <div class="btn-wrapper">
        <button class="button is-black is-midium mb-3" id="submitButton">
          회원가입하기
        </button>
      </div>
    </form>
  </div>

  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image is-4by3">
        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <footer class="footer">
  </footer>
</body>

</html>