<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Team-Ten</title>
    <!-- 폰트 -->
    <link rel=“preconnect” href=“https://fonts.googleapis.com”> <link rel=“preconnect” href=“https://fonts.gstatic.com”
    crossorigin> <link href=“https://fonts.googleapis.com/css2?family=Roboto&display=swap” rel=“stylesheet”>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="detail.css" />
    <script src="detail.js" type="module" defer></script>
  </head>
  <body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation"></nav>
    <article class="container">
      <!-- 대표상품 설명 -->
      <div class="intro-item">
        <div class="img_box">
          <img
            name="image"
            src="https://img.29cm.co.kr/next-product/2022/04/25/4143c72951de4ebe9d687b04aff8e8c5_20220425153023.jpg?width=700"
            alt=""
          />
        </div>
        <div class="text_box">
          <div class="title" name="productName">TSHIRT FLOWERMARDI_WHITE GREEN</div>
          <div class="title is-4" name="company">마르디메크르디</div>
          <hr />
          <div class="title is-5" name="price">37,800원</div>
          <div class="description" name="description">
            프렌치 무드안에서 감각적이고 이지한 데일리웨어를 제안하는 디자이너 브랜드 마르디의 티셔츠입니다.
          </div>
          <div class="delivery">
            <span class="title is-6">배송정보</span>
            <span>배송비 무료 (지역에 따라 상이할 수 있습니다.)</span>
          </div>
          <hr />
          <!-- 수량선택 -->
          <div class="product-count">
            <div>수량선택</div>
            <div class="control has-icons-left">
              <div class="select">
                <select id="total-count">
                  <option selected>1개</option>
                  <option>2개</option>
                  <option>3개</option>
                  <option>4개</option>
                  <option>5개</option>
                  <option>6개</option>
                  <option>7개</option>
                  <option>8개</option>
                  <option>9개</option>
                  <option>10개</option>
                </select>
              </div>
            </div>
          </div>
          <!-- 수량선택 끝 -->
          <!-- 총액 -->
          <div class="total-price">
            <div>총 금액</div>
            <div name="totalPrice">37,800원</div>
          </div>
          <!-- 버튼 -->
          <div class="button-group">
            <button class="button is-black is-medium">구매하기</button>
            <button class="button is-medium">장바구니에 담기</button>
          </div>
        </div>
      </div>
      <!-- 대표상품 설명 끝-->
      <hr />
      <div class="detail-item">
        <div class="img_box_detail">
          <img
            src="https://img.29cm.co.kr/next-product/2022/03/31/d695f5e8b30944ffade57b982a7047e4_20220331183050.jpg?width=1000"
            alt=""
            name="image-detail"
          />
        </div>
      </div>
    </article>
    <footer class="footer"></footer>
  </body>
</html>
