<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
      <!-- bulma css -->
      <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="shop.css" />
    <script src="shop.js" type="module" defer></script>
</head>
<body>
  <header>
    <h1>Header</h1>
  </header>
  <hr>
  <article>
    <nav id="category">
      <a href="#">전체보기</a>
      <a href="#">Outer</a>
      <a href="#">상의</a>
      <a href="#">하의</a>
      <a href="#">신발&가방</a>
      <a href="#">Accesory</a>
      <!-- <button class="button is-success">카테고리편집</button> -->
    </nav>
    <!-- <h2>전체보기</h2> -->
 
    <main id="list">
      <div class="title is-size-4">전체보기</div>
      <div id="list">
        <div class="box">box</div>
        <div class="box">box</div>
        <div class="box">box</div>
        <div class="box">box</div>
        <div class="box">box</div>
        <div class="box">box</div>
        <div class="box">box</div>
        <div class="box">box</div>
        <div class="box">box</div>
      </div>
    </main>
  </article>
  <hr>
  <footer>
    <h1>Footer</h1>
  </footer>
</body>
</html>