* {
  font-family: "Roboto", sans-serif;
}

.main-wrap {
  height: 100vh;
  width: 1300px;
  margin: 0 auto;
  margin-top: 5rem;
}

.main-order-mod-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.order-list-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.main-order-list {
  display: flex;
  flex-direction: row;
}

.main-order-list form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.body-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.order-detail-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
}

.order-detail-user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-detail-account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
}

.main-category-mod-wrap {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-card-body .table {
  text-align: center;
  margin: auto;
  width: 80%;
}
.modal-card-body .productTable {
  width: 100%;
}
.modal-card footer.modal-card-foot {
  text-align: center;
  justify-content: center;
} 
.modal-card footer input{
  width: 50%;
  margin: 0 2%;
  
}
button.addProduct {
  margin-bottom: 10%;
}
.productList span.updateProdcutBtn {
  cursor: pointer;
}
.modal-card-body .table input{
  width: 70%;
}
.main-product-mod-wrap {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrap-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.order-list {
  display: flex;
  flex-direction: column;
}

.button-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: right;
  margin-bottom: 1rem;
}

.order-img {
  border-radius: 20px;
  width: 50px;
  height: 50px;
}
.productEditModal form div{
  display: flex;
}
.productEditModal div input{
  margin-right: 3%;
}
