<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Admin Page</title>
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="admin.css" />
  <script src="admin.js" type="module" defer></script>
</head>

<body>
  <main class="main-wrap" aria-label="main contents">
    <div class="main-order-list">
      <div class="order-list-wrap">
        <div class="mod-wrap">
          <div class="main-category-mod-wrap">
            <span class="wrap-title">카테고리 관리</span>
            <button class="button is-medium is-warning">카테고리 수정/추가/삭제</button>
          </div>
          <div class="main-product-mod-wrap">
            <span class="wrap-title">상품내역 관리</span>
            <button class="button is-medium is-info">상품 수정</button>
            <button class="button is-medium is-info">상품 추가</button>
            <button class="button is-medium is-info">상품 삭제</button>
          </div>
        </div>
        <div class="main-order-mod-wrap">
          <span class="wrap-title">전체 주문 내역</span>
          <form class="order-list ">

            <table class="table is-striped is-hoverable table-style">
              <thead>
                <tr>
                  <th>주문번호</th>
                  <th>주문내역</th>
                  <th>주문날짜</th>
                  <th>상세</th>
                </tr>
              </thead>
              <tbody class="orderlist-wrap">
              </tbody>
            </table>

          </form>
        </div>
      </div>
  </main>

  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">주문 상세</p>
        <button class="close-button delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">

      </section>
    </div>
  </div>
</body>

</html>