<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Admin Page</title>
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="admin.css" />
  <script src="admin.js" type="module" defer></script>
</head>

<body>
  <main class="main-wrap" aria-label="main contents">
    <div class="main-order-list">
      <div class="order-list-wrap">
        <div class="mod-wrap">
          <div class="main-category-mod-wrap">
            <span class="wrap-title">카테고리 관리</span>
            <button class="button is-medium is-warning editCategory" data-target="modal-editCategory">카테고리 수정/추가/삭제</button>
            <div id="modal-editCategory" class="modal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">카테고리 편집</p>
                  <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                  <table class="table is-large">
                    <thead>
                      <tr>
                        <th>카테고리명</th>
                        <th>수정</th>
                        <th>삭제</th>
                      </tr>
                    </thead>
                    <tbody class="category-modal-list">
                    </tbody>
                  </table>
                </section>
                <footer class="modal-card-foot">
                  <span class="material-icons add-category-trigger">
                    add_circle
                  </span>
                </footer>
              </div>
            </div>
          </div>
          <div class="main-product-mod-wrap">
            <span class="wrap-title">상품내역 관리</span>
            <button class="button is-medium is-info addProduct" data-target="modal-ter" aria-haspopup="true">상품 추가</button>
            <!-- 모달 -->
      <div class="modal modal-addProduct">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">상품추가하기</p>
            <button class="delete" aria-label="close"></button>
          </header>
            <section class="modal-card-body">
              <!-- Content ... -->
              <div class="is-size-5">대표이미지</div>
              <input class="input" type="text" name="image" value="https://picsum.photos/200">
              
              <div class="is-size-5">상세이미지</div>
              <input class="input" type="text" name="detailImage" value="https://picsum.photos/200">
              
              <div>카테고리</div>
              <div class="control has-icons-left">
                <div class="select">
                  <select id="total-count" class="category-option">
                   
                  </select>
                </div>
              </div>
              <div>상품이름</div>
              <input class="input" type="text" name="productName" >
              <div>상품설명</div>
              <input class="input" type="textarea" name="description">
              <div>price</div>
              <input class="input" type="number" name="price">
              <div>제조사</div>
              <input class="input" type="text" name="company">

            </section>
            <footer class="modal-card-foot">
              <input class="button is-success addProductBtn" value="상품추가하기"></input>
            </footer>
        </div>
      </div>
      <!-- 모달끝 -->
            <button class="button is-medium is-info editProductBtn">상품 편집</button>
            <div class="modal productEditModal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">상품 편집</p>
                  <button class="close-button delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
          
                </section>
              </div>
            </div>
          </div>
        </div>
        <div class="main-order-mod-wrap">
          <span class="wrap-title">전체 주문 내역</span>
          <form class="order-list ">

            <table class="table is-striped is-hoverable table-style">
              <thead>
                <tr>
                  <th>주문번호</th>
                  <th>주문내역</th>
                  <th>주문날짜</th>
                  <th>상세</th>
                </tr>
              </thead>
              <tbody class="orderlist-wrap">
              </tbody>
            </table>

          </form>
        </div>
      </div>
  </main>

  <div class="modal orderModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">주문 상세</p>
        <button class="close-button delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">

      </section>
    </div>
  </div>
</body>

</html>