<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>About</title>
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;700&family=Beau+Rivage&family=Black+Han+Sans&family=Work+Sans:ital,wght@0,400;1,300&display=swap"
    rel="stylesheet" />
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="/img/vegeten-favicon.png" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="about.css" />
  <link rel="stylesheet" href="../components/navigation.css" />
  <script src="about.js" type="module" defer></script>
</head>

<body>
  <!-- 헤더 -->
  <nav id="navigation"></nav>

  <main class="main-wrapper" aria-label="main contents">
    <article>
      <div class="aboutVegan">
        <img src="/img/vegaDay.png" alt="" />
      </div>
    </article>

    <article class="main-introduction" aria-label="main introduction">
      <div class="introduction-wrapper">
        <p class="introduction-contents title"><img class="middle-logo" src="/img/vegeten-logo.png" alt="" /></p>
        <p class="introduction-contents">채식주의자가 한명도 없지만,</p>
        <p class="introduction-contents">VEGETEN의 <strong>팀원들을</strong> 소개 합니다.</p>
        <img class="vegetenCrew" src="/img/vegetenCrew.png" alt="" />
      </div>
    </article>

    <article class="main-grid-contents">
      <div class="grid-contents-wrapper">
        <div class="contents">
          <img class="new-goods-logo" src="/img/vegetenCrewSay2.png" alt="team intro image" />
        </div>
      </div>
    </article>
  </main>

  <footer class="footer"></footer>
</body>

</html>