* {
  font-family: 'Roboto', sans-serif;
}


.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* height: 2; */
}

.aboutVegan {
  height: 621px;
  overflow: hidden;
  width: 1200px;
  border-radius: 40px;
  margin: 10% 0;
  object-fit: fill;
}

.main-introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 80%;
  height: 20%;
}

.introduction-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction-wrapper .title {
  font-size: 2rem;
}

.introduction-contents {
  font-size: 1.5rem;
}

.vegetenCrew {
  margin-top: 40%;
  margin-bottom: 25%;
  width: 270px;
}

.main-grid-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70%;
}

.grid-contents-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100%;
  margin-bottom: 10%;
}

.contents {
  width: 90%;
  height: 40%;
  height: auto;
  overflow: hidden;
}

.contents img {
  object-fit: cover;
}

@media screen and (max-width:1023px) {
  .main-introduction {
    margin-top: 2rem;
  }

  .aboutVegan {
    height: 400px;
    width: 700px;
    margin: 15% 0;
  }

  .middle-logo {
    width: 180px;
  }

  .introduction-contents {
    font-size: 1.25rem;
  }

  .contents {
    width: 100%;
    height: 40%;
    height: auto;
    overflow: hidden;
  }
}

@media screen and (max-width:510px) {
  .main-introduction {
    margin-top: 2rem;
  }

  .aboutVegan {
    height: 220px;
    width: 350px;
    margin: 20% 0;
  }

  .middle-logo {
    width: 110px;
  }

  .introduction-contents {
    font-size: 1rem;
  }

  .vegetenCrew {
    width: 170px
  }

  .contents {
    width: 100%;
    height: 40%;
    height: auto;
    overflow: hidden;
  }
}