*{
  font-family: 'Roboto', sans-serif;
}
article {
  text-align: center;
}
article .intro-item {
  display: flex;
  margin: 5%;
  margin-top: 10%;
  flex-wrap: wrap;
  height: 80%;
  text-align: center;
}
.img_box {
  margin-left: 2%;
  width: 450px;
  height: 500px;
  overflow: hidden;
}
.img_box img{
  height: 100%;
  width: auto;
  object-fit: cover;
}
.text_box {
  /* border: solid 1px black; */
  text-align: left;
  margin-left: 5%;
}
.text_box .description {
  width: 70%;
  margin-bottom: 5%;
}
.text_box .product-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text_box .product-count div:first-child{
  font-weight: 700;
}
.total-price {
  display: flex;
  align-items: center;
  margin: 3% auto;
  justify-content: space-between;
}
.total-price div:first-child {
  font-weight: 700;
}
.button-group {
  text-align: right;
}
.detail-item{
  margin-top: 5%;
}
.img_box_detail {
  width: 60%;
  height: 100%;
  margin: auto;
}
.img_box_detail {
  height: 100%;
  width: auto;
  object-fit: cover;
}