<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>VEGETEN Shop</title>
  <!-- 폰트 -->
  <link rel=“preconnect” href=“https://fonts.googleapis.com”>
  <link rel=“preconnect” href=“https://fonts.gstatic.com” crossorigin>
  <link href=“https://fonts.googleapis.com/css2?family=Roboto&display=swap” rel=“stylesheet”>
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="home.css" />
  <script src="home.js" type="module" defer></script>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
  </nav>
  <main class="main-wrapper" aria-label="main contents">
    <article class="main-thumnail" aria-label="main thumnail">
      <div class="carousel-container">
        <div class="carousel-slide">
          <img src="https://picsum.photos/id/100/2700/2000" alt="image-1" id="last">
          <img src="https://picsum.photos/id/5/2700/2000" alt="image-2">
          <img src="https://picsum.photos/id/12/2700/2000" alt="image-3">
          <img src="https://picsum.photos/id/36/2700/2000" alt="image-4" id="first">
        </div>
        <button id="prevBtn">
          <span class="material-icons">
            arrow_back_ios
          </span>
        </button>
        <button id="nextBtn">
          <span class="material-icons">
            arrow_forward_ios
          </span>
        </button>
      </div>
    </article>
    <article class="main-introduction" aria-label="main introduction">
      <div class="introduction-wrapper">
        <p class="introduction-contents title"><strong>VEGETEN#</strong></p>
        <p class="introduction-contents">채식주의자가 한명도 없는 우리가</p>
        <p class="introduction-contents"><strong>비건샵</strong>을 만들었어요.</p>
        <p class="introduction-contents">임시 문구.</p>
      </div>
    </article>
    <article class="main-new" aria-label="main new items">
      <div class="new-wrapper">
        <span class="new-title"><strong>New Arrival</strong></span>
        <ul class="item-list">
        </ul>
      </div>
    </article>
  </main>
  <footer class="footer">
  </footer>

</body>

</html>