* {
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
}

.navbar {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.main-thumnail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 850px;
}

.carousel-container {
  width: 100%;
  height: 850px;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
}

.carousel-slide img {
  display: block;
  width: 100%;
  height: auto;
}

#prevBtn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  width: 30px;
  height: 46px;
  background: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

#nextBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  width: 30px;
  height: 46px;
  background: none;
  border: none;
  padding: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.main-introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  width: 100%;
  height: 20%;
}

.introduction-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 80px;
}

.newBadge {
  position: relative;
  top: 50px;
  left: -110px;
}

.introduction-wrapper .title {
  font-size: 2rem;
}

.introduction-contents {
  font-size: 1.5rem;
}

.new-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 150px;
}

.new-title {
  font-size: 2rem;
}

.main-new {
  display: flex;
  width: 100%;
  height: 40%;
  margin-top: 4rem;
}

.item-list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-list .item-card {
  margin: 3% 2%;
  width: 300px;
  height: 400px;
  border-radius: 2%;
  cursor: pointer;
  text-align: center;
}

.item-card .img-box {
  width: 100%;
  height: 80%;
  overflow: hidden;
  text-align: center;
  box-shadow: 5px 5px 10px grey;
}

.item-card .img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item-card .productName {
  margin-top: 1rem;
  font-weight: 700;
}

@media screen and (max-width:1023px) {
  .main-thumnail {
    height: auto;
  }

  .carousel-container {
    height: auto;
  }

  .middle-logo {
    width: 180px !important;
  }

  .main-introduction {
    margin-top: 3rem;
  }

  .main-new {
    margin-top: 3rem;
  }
}

@media screen and (max-width:510px) {
  .main-thumnail {
    height: auto;
  }

  .carousel-container {
    height: auto;
  }

  .middle-logo {
    width: 110px !important;
    margin-bottom: 1rem;
  }

  .main-introduction {
    margin-top: 2rem;
  }

  .new-goods-logo {
    width: 170px
  }

  .introduction-contents {
    font-size: 1rem;
  }

  .main-new {
    margin-top: 2rem;
  }

  .item-list .item-card {
    width: 200px;
    height: 300px;
  }

  .item-card .productName {
    font-size: 1rem;
  }
}