* {
  font-family: 'Roboto', sans-serif;
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.login-form-box {
  width: 30rem;
}

.login-form-box .title {
  text-align: center;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.reset-password {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  font-size: 0.7rem;
}

.modal {
  display: none;
}

.modal-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-card-body:first-child {
  font-size: 2rem;
}

.modal-card-foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.confirm-circle {
  display: block;
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
}

.cofirm-icon {
  font-size: 10rem;
}

.scale-in-center {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#submitButton {
  background-color: #00ca71;
  border: none;
  color: #fff;
  width: 120px;
}

#registerButton {
  width: 120px;
}

#registerButton:hover {
  background-color: #fff;
}

#goShopping {
  background-color: #00ca71;
  border: none;
  color: #fff;
  margin-right: 30px;
}

.loginSuccessedButton {
  width: 140px;
}

#goHome:hover {
  background-color: #fff;
}

.resetPwdButton {
  background-color: #00ca71;
  border: none;
  color: #fff;
}

.resetPwdButton:hover {
  color: #fff;
}
