* {
  font-family: 'Roboto', sans-serif;
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.login-form-box {
  width: 30rem;
}

.login-form-box .title {
  text-align: center;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.reset-password {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  font-size: 0.7rem;
}

.modal {
  display: none;
}

.modal-card {
  border-radius: 5px;
  width: 500px;
}

.modal-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-card-body:first-child {
  font-size: 2rem;
}

.modal-card-foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.confirm-circle {
  display: block;
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
}

.cofirm-icon {
  font-size: 10rem;
}

.scale-in-center {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.btn-login,
.btn-register,
.btn-shopping,
.btn-gohome,
.btn-goLogi,
.resetPwdButton {
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  font-size: 1.1rem;
}

.btn-login {
  margin-bottom: 1rem;
}

.btn-shopping {
  margin-right: 40%;
}

.btn-login,
.btn-gohome,
.btn-goLogin {
  border: 1px solid transparent;
  background-color: #fff;
  border-color: #dbdbdb;
  color: #363636;
  border-radius: 2px;
}

.btn-register,
.btn-shopping,
.resetPwdButton {
  background-color: #00ca71;
  border-color: transparent;
  color: #fff;
  border-radius: 2px;
}

@media screen and (max-width:510px) {
  .login-form-box {
    width: 20rem;
  }

  .input {
    font-size: 1rem !important;
  }

  .btn-login {
    margin-bottom: 0.8rem;
  }

  .modal-card {
    border-radius: 5px;
    width: 340px;
  }

  .btn-shopping {
    margin-right: 20%;
  }

  .modal-card-title {
    font-size: 1.25rem !important;
  }

  .btn-login,
  .btn-register,
  .btn-shopping,
  .btn-gohome,
  .btn-goLogin,
  .resetPwdButton {
    font-size: 0.9rem;
  }

}