<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="cart.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />
    <script src="cart.js" type="module" defer></script>
  </head>
  <body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation"></nav>
    <div id="container">
      <h2 id="title">장바구니</h2>
      <div id="cart-wrap">
        <div id="top-buttons">
          <button id="all-check" class="button is-normal">전체선택</button>
          <button id="all-delete" class="button is-normal is-danger">선택삭제</button>
        </div>

        <div id="products-container">
          <!-- 장바구니 리스트가 들어와용-->
        </div>
      </div>
      <!-- 총합 -->
      <div id="bottom">
        <div id="cart-total-cost-wrap">
          <span id="cart-total-cost-title" class="cart-total-cost">합계</span>
          <span id="cart-total-cost-number" class="cart-total-cost"></span>
        </div>
        <div id="pay-button-wrap">
          <a id="pay-button-aTag" href="/order">
            <button id="pay-button" class="button is-medium">주문하기</button>
          </a>
        </div>
      </div>
    </div>

    <footer class="footer"></footer>
  </body>
</html>
